.leftOverlay {
    display: flex;
    opacity: 100;
    background: #E9E9E9;
    z-index: 1;
    position: absolute;
    padding: 5px;
    width: 400px;
    height: 100%;
    margin-top: -10px;
    justify-content: center;
}

.logo {
    margin-top: 320px;
    height: 100px;
}

.logo-2 {
    margin-top: 2rem;
    height: 100px;
}

.buttonLogin,
.buttonRegister {
    color: white;
    background-color: #2899DA;
    justify-content: center;
    display: flex;
    z-index: 2;
    position: absolute;
    width: 280px;
    height: auto;
    padding: 10px;
    border-width: 0;
    border-radius: 6px;
    font-size: 16px;
}

.buttonLogin-2,
.buttonRegister-2 {
    color: white;
    background-color: #2899DA;
    justify-content: center;
    display: flex;
    z-index: 2;
    position: absolute;
    width: 280px;
    height: auto;
    padding: 10px;
    border-width: 0;
    border-radius: 6px;
    font-size: 16px;
}

.buttonLogin-2{
    margin-left: 3.45rem;
}

.buttonLogin:hover, .buttonRegister:hover, .buttonLogin-2:hover, .buttonRegister-2:hover{
    cursor: pointer;
}

.buttonLogin{
    margin-top: 1rem;
} 

.buttonRegister {
    margin-top: 4rem;
}

/* Login UI */
.logo-2{
    margin-top: 200px;
    height: 100px;
}

.TitleText-1, .TitleText-2{
    color: #0A2478;
}

.TitleText-1{
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
}

.TitleText-2{
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 0.9rem;
}